/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 6, 2016, 10:54:18 AM
    Author     : ho-5
*/

.emirate-name{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    text-align: center;
    font-size: 16px;
    width: 100%;
}
.emirate-name a{
    text-decoration: none;
}
.store{
    
    border: 1px solid red;
    border-radius: 5px;
    padding: 20px;
}
.store-name{
     font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    text-align: center;
    font-size: 14px;
   
    
    z-index: 100;
    position: relative;
    
   
    
}
.store-name p{
    
     margin: 0;
     
     background: rgba(255,255,255,0.5);
}

.shop{
    text-align: center;
    color:white;
    padding: 20px;
    margin:0px;
   
}
shop a {
     text-decoration: none;
}
a {
    text-decoration: none !important;
}
.shops{
    padding: 5px;
    margin: 5px;
    
    position: relative;
    
   
}
#store-details{
    margin-top: 80px;
}
@media (min-width: 768px){
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1  {
    width: 100%;
    *width: 100%;
  }
}
.btn-disable{
        
        pointer-events: none;

        /*Button disabled - CSS color class*/
        color: #c0c0c0;
        background: grey !important;
}
@media (min-width: 992px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
  }
}

/**
 *  The following is not really needed in this case
 *  Only to demonstrate the usage of @media for large screens
 */    
@media (min-width: 1200px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
  }
}