/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 10, 2016, 11:37:29 AM
    Author     : ho-5
*/

.shop-detail{
    text-align: center;
}
.shop-button  a:hover{
    z-index: 1000;
    color: rgba(100, 100, 100,1);
}

.shop-remove{
    position:absolute;
    top: -16px;
    right:0px;
    
}
.shop-remove a{
    color: rgba(100, 100, 100, 0.3);
}
.joint-details{
    display: inline;
}
.joint-update a{
    float: right;
}
